<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="duc"
			id="ldas.xtext.Duc"
			matchingStrategy="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.editor.JavaEditorInputMatcher"
			name="Duc Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="ldas.xtext.Duc.validate">
		<activeWhen>
			<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="ldas.xtext.Duc.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="ldas.xtext.Duc.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="ldas.xtext.Duc.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="ldas.xtext.Duc"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="ldas.xtext.Duc.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="ldas.xtext.Duc"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="ldas.xtext.Duc"
			name="Duc">
			<keywordReference id="ldas.xtext.ui.keyword_Duc"/>
		</page>
		<page
			category="ldas.xtext.Duc"
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="ldas.xtext.Duc.coloring"
			name="Syntax Coloring">
			<keywordReference id="ldas.xtext.ui.keyword_Duc"/>
		</page>
		<page
			category="ldas.xtext.Duc"
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="ldas.xtext.Duc.templates"
			name="Templates">
			<keywordReference id="ldas.xtext.ui.keyword_Duc"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="ldas.xtext.Duc"
			name="Duc">
			<keywordReference id="ldas.xtext.ui.keyword_Duc"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="ldas.xtext.ui.keyword_Duc"
			label="Duc"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="ldas.xtext.Duc.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="ldas.xtext.Duc.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ldas.xtext.Duc.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ldas.xtext.Duc.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="ldas.xtext.Duc.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ldas.xtext.Duc.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="duc"
			id="ldas.xtext.Duc.contenttype"
			name="Duc File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="duc">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="duc">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for ldas.xtext.Duc -->
	<extension
			id="duc.check.fast"
			name="Duc Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="duc.check.normal"
			name="Duc Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="duc.check.expensive"
			name="Duc Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="ldas.xtext.Duc"
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="ldas.xtext.Duc.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="ldas.xtext.ui.keyword_Duc"/>
		</page>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="duc"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="ldas.xtext.Duc"
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="ldas.xtext.Duc.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="ldas.xtext.ui.keyword_Duc"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="ldas.xtext.Duc"
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="ldas.xtext.Duc.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="ldas.xtext.ui.keyword_Duc"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="ldas.xtext.Duc.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ldas.xtext.Duc.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="ldas.xtext.Duc.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ldas.xtext.Duc.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for ldas.xtext.Duc -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="ldas.duc.xtext.ui.duc.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="ldas.duc.xtext.ui.duc.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="ldas.duc.xtext.ui.duc.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="ldas.xtext.Duc.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="ldas.xtext.Duc"
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="ldas.xtext.Duc.refactoring"
			name="Refactoring">
			<keywordReference id="ldas.xtext.ui.keyword_Duc"/>
		</page>
	</extension>
	<!-- Type Hierarchy  -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy">
			<activeWhen>
				<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler 
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.QuickTypeHierarchyHandler"
			commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy">
			<activeWhen>
				<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.imports.OrganizeImportsHandler"
			commandId="org.eclipse.xtext.xbase.ui.organizeImports">
			<activeWhen>
				<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="org.eclipse.xtext.xbase.ui.organizeImports"
				 style="push"
				 tooltip="Organize Imports">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="ldas.xtext.Duc.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenTypeHierarchy"
				style="push"
				tooltip="Open Type Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ldas.xtext.Duc.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.jdt.ui.edit.text.java.open.hierarchy"
				style="push"
				tooltip="Quick Type Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ldas.xtext.Duc.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- Call Hierachy -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierachyHandler"
			commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy">
			<activeWhen>
				<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.xbase.ui.hierarchy.OpenCallHierarchy"
				style="push"
				tooltip="Open Call Hierarchy">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ldas.xtext.Duc.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.core.runtime.adapters">
		<factory class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.builder.smap.StratumBreakpointAdapterFactory"
			adaptableType="ldas.xtext.ui.editor.DucEditor">
			<adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
		</factory> 
	</extension>
	<extension point="org.eclipse.ui.editorActions">
		<editorContribution targetID="ldas.xtext.Duc" 
			id="ldas.xtext.Duc.rulerActions">
			<action
				label="Not Used"
	 			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				style="push"
				actionID="RulerDoubleClick"
				id="ldas.xtext.Duc.doubleClickBreakpointAction"/>
		</editorContribution>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="ldas.xtext.Duc.RulerContext"
			id="ldas.xtext.Duc.RulerPopupActions">
			<action
				label="Toggle Breakpoint"
				class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
				menubarPath="debug"
				id="ldas.xtext.Duc.rulerContextMenu.toggleBreakpointAction">
			</action>
			<action
				label="Not used"
				class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
				menubarPath="debug"
				id="ldas.xtext.Duc.rulerContextMenu.enableDisableBreakpointAction">
			</action>
			<action
				label="Breakpoint Properties"
				helpContextId="breakpoint_properties_action_context"
				class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.jdt.debug.ui.actions.JavaBreakpointPropertiesRulerActionDelegate"
				menubarPath="group.properties"
				id="ldas.xtext.Duc.rulerContextMenu.openBreapointPropertiesAction">
			</action>
		</viewerContribution>
	</extension>
	<!-- Introduce Local Variable Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.refactoring.ExtractVariableHandler"
			commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable">
			<activeWhen>
				<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.xbase.ui.refactoring.ExtractLocalVariable"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="ldas.xtext.Duc.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- Open implementation -->
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.xbase.ui.navigation.OpenImplementationHandler"
			commandId="org.eclipse.xtext.xbase.ui.OpenImplementationCommand">
			<activeWhen>
				<reference
					definitionId="ldas.xtext.Duc.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="menu:navigate?after=open.ext4">
			<command commandId="org.eclipse.xtext.xbase.ui.OpenImplementationCommand">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="ldas.xtext.Duc.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="ldas.xtext.Duc.compare.contentViewers"
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="duc">
		</viewer>
		<contentTypeBinding
			contentTypeId="ldas.xtext.Duc.contenttype"
			contentViewerId="ldas.xtext.Duc.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="ldas.xtext.Duc.compare.contentMergeViewers"
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="duc" label="Duc Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="ldas.xtext.Duc.contenttype"
			contentMergeViewerId="ldas.xtext.Duc.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="ldas.xtext.Duc.editors.documentProviders"
			class="ldas.xtext.ui.DucExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="duc">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="duc"
			type="text">
		</fileTypes>
	</extension>
</plugin>
